<div id="welcome" fxLayout="column">
    <div fxLayout="column" class="title-area">
        <div fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center" class="header">
            <div class="logo">
                <a href="#">
                    <img src="assets/images/home-page/logo.png">
                </a>
            </div>
            
            <div class="header-info">
                Get in Touch:
                <a href="mailto:contact@companyname.com" class="email">
                    contact@companyname.com
                </a>
                <button mat-raised-button class="login-btn">Login</button>
            </div>
            
        </div>  
        <div class="title-background" class="title-background">
            <img src="assets/images/home-page/slider1.jpg" class="background-img">
        </div>
        <div class="title" fxLayout="row">
            <div class="skew-text tt-u">Exploring</div>
            <h1 class="tt-u">the world with food</h1>
        
        </div>
        <div>
            <img src="assets/images/home-page/banner-btm.png" class="btm-slide">
        </div>
    </div>  
    <div fxLayout="column" class="remmondation">
        <div fxLayout="row" fxLayoutAlign="space-between center"  class="remmondation-text">
            <div class="text-left">
                Recommendations 
                <span class="text-line">for you</span>
            </div>
            <div class="cat-btn">
                <a href="#" class="cat-link">
                    Search Everywhere
                </a>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="remmondation-img">
            <div class="restaurant">
                <img src="assets/images/home-page/img1.jpg" class="img">
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <strong class="name">Restaurant Name,</strong>
                        <span class="location">New York, NY, United States</span>
                        <a href="#" class="explore-btn">Explore</a>
                    </div>
                </div>
            </div>
            <div class="restaurant">
                <img src="assets/images/home-page/img2.jpg" class="img">
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <strong class="name">Restaurant Name,</strong>
                        <span class="location">New York, NY, United States</span>
                        <a href="#" class="explore-btn">Explore</a>
                    </div>
                </div>
            </div>
            <div class="restaurant">
                <img src="assets/images/home-page/img3.jpg" class="img">
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <strong class="name">Restaurant Name,</strong>
                        <span class="location">New York, NY, United States</span>
                        <a href="#" class="explore-btn">Explore</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  

    <div  fxLayout="column" class="bule-sec">
        <div class="img-box" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="bule-box">
                <img src="assets/images/home-page/img4.png">
                <div class="bule-text">
                    <h5 class="title">Lorem ipsum dolor sit</h5>
                    <p class="content">
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Maecenas euismod, ex sed 
                        sollicitudin mollis, arcu erat rutrum sapien, 
                        ut facilisis mi leo eu enim.
                    </p>
                </div>
            </div>
            <div class="bule-box">
                <img src="assets/images/home-page/img5.png">
                <div class="bule-text">
                    <h5 class="title">Lorem ipsum dolor sit</h5>
                    <p class="content">
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Maecenas euismod, ex sed 
                        sollicitudin mollis, arcu erat rutrum sapien, 
                        ut facilisis mi leo eu enim.
                    </p>
                </div>
            </div>
            <div class="bule-box">
                <img src="assets/images/home-page/img6.png">
                <div class="bule-text">
                    <h5 class="title">Lorem ipsum dolor sit</h5>
                    <p class="content">
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Maecenas euismod, ex sed 
                        sollicitudin mollis, arcu erat rutrum sapien, 
                        ut facilisis mi leo eu enim.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="column" class="march-sec">
        <div fxLayout="row" fxLayoutAlign="space-between center"  class="march-sec-text">
            <div class="text-left">
                MARCH 
                <span class="text-line">DEALS</span>
            </div>
            <!-- <div class="cat-btn">
                <a href="#" class="cat-link">
                    Search Everywhere
                </a>
            </div> -->
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="march-sec-img">
            <div class="restaurant">
                <img src="assets/images/home-page/img7.jpg" class="img">
                <div class="offer-sec">
                    <div>
                        50% off
                    </div>
                </div>
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <strong class="name">Restaurant Name,</strong>
                        <span class="location">New York, NY, United States</span><br>
                        <a href="#" class="explore-btn">Explore</a>
                    </div>
                </div>
            </div>
            <div class="restaurant">
                <img src="assets/images/home-page/img8.jpg" class="img">
                <div class="offer-sec">
                    <div>
                        20% off
                    </div>
                </div>
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <strong class="name">Restaurant Name,</strong>
                        <span class="location">New York, NY, United States</span><br>
                        <a href="#" class="explore-btn">Explore</a>
                    </div>
                </div>
            </div>
            <div class="restaurant">
                <img src="assets/images/home-page/img9.jpg" class="img">
                <div class="offer-sec">
                    <div>
                        50% off
                    </div>
                </div>
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <strong class="name">Restaurant Name,</strong>
                        <span class="location">New York, NY, United States</span><br>
                        <a href="#" class="explore-btn">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="home-map">
        <div class="home-area">
            <div fxLayout="row" fxLayoutAlign="space-between center"  class="home-map-text">
                <div class="text-left">
                    <span class="text-line">BE</span>
                    INSPIRED
                </div>
                <div class="cat-btn">
                    <a href="#" class="cat-link">             
                        Explore our map
                    </a>
                </div>
            </div>
            <div class="map-sec">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d40286042.37975342!2d-23.07827667067196!3d42.87074137127097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sworld%20best%20restaurants%20!5e0!3m2!1sen!2sin!4v1580195679698!5m2!1sen!2sin" width="100%" height="380" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div> 

    <div fxLayout="column" class="perfect-trip">
        <div class="perfect-trip-box">
            <div fxLayout="column" fxLayoutAlign="center start"  class="perfect-trip-text">
                <div class="text-left">
                    PLAN YOUR PERFECT TRIP 
                    <!-- <span class="text-line">DEALS</span> -->
                </div>
                <p class="no-padding">Search Flights, Hotels &amp; Car Hire to our most popular destinations</p>
                <!-- <div class="cat-btn">
                    <a href="#" class="cat-link">
                        Search Everywhere
                    </a>
                </div> -->
            </div>
            <!-- <div class="carousel">
                <div class="slide">
                    <div class="slideItem">
                        <img src="assets/images/home-page/img10.jpg" class="img">
                     
                        <div class="restaurant-text">
                            <strong class="name">Restaurant Name,</strong>
                            <span class="location">New York, NY, United States</span><br>
                            <a href="#" class="explore-btn">Explore</a>
                        </div>
         
                    </div>
                    <div class="slideItem">
                        <img src="assets/images/home-page/img11.jpg" class="img">
                        
                        <div class="restaurant-text">
                            <strong class="name">Restaurant Name,</strong>
                            <span class="location">New York, NY, United States</span><br>
                            <a href="#" class="explore-btn">Explore</a>
                        </div>
                        
                    </div>
                    <div class="slideItem">
                        <img src="assets/images/home-page/img12.jpg" class="img">
                        
                        <div class="restaurant-text">
                            <strong class="name">Restaurant Name,</strong>
                            <span class="location">New York, NY, United States</span><br>
                            <a href="#" class="explore-btn">Explore</a>
                        </div>
                    
                    </div>
                </div> 
                <div class="nextButton"></div>
                <div class="prevButton"></div>
            </div> -->
            <div class="carousel">
                <div class="slides">
                         <div class="slideItem"><img src="assets/images/home-page/img10.jpg" alt="">
                         <div class="black-bg2">
                         <div><p><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                            <a href="#" class="explore-btn">Explore</a></div>
                         </div>
                         </div>
                         <div class="slideItem"><img src="assets/images/home-page/img11.jpg" alt="">
                         <div class="black-bg2">
                         <div><p><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                <a href="#" class="explore-btn">Explore</a></div>
                         </div>
                         </div>
                         <div class="slideItem"><img src="assets/images/home-page/img12.jpg" alt="">
                         <div class="black-bg2">
                         <div><p><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                <a href="#" class="explore-btn">Explore</a></div>
                         </div>
                         </div>
                         <div class="slideItem"><img src="assets/images/home-page/img10.jpg" alt="">
                         <div class="black-bg2">
                         <div><p><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                <a href="#" class="explore-btn">Explore</a></div>
                         </div>
                         </div>
                         <div class="slideItem"><img src="assets/images/home-page/img11.jpg" alt="">
                         <div class="black-bg2">
                         <div><p><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                <a href="#" class="explore-btn">Explore</a></div>
                         </div>
                         </div>
                         <div class="slideItem"><img src="assets/images/home-page/img12.jpg" alt="">
                         <div class="black-bg2">
                         <div><p><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                <a href="#" class="explore-btn">Explore</a></div>
                         </div>
                         </div>
                </div>
            </div>
            
        </div>
    </div> 
    <div class="footer">
       
        <div class="ft-top">
            <div fxLayout="row" fxLayoutAlign="space-between start" class="ft-top-content">
                <div class="ft-box">
                    <h2 class="text-btm">Explore</h2>
                    <ul>
                        <li><a href="#">Cities</a></li>
                        <li><a href="#">City Breaks</a></li>
                        <li><a href="#">Airports</a></li>
                        <li><a href="#">Countries / Regions</a></li>
                        <li><a href="#">Airlines</a></li>
                        <li><a href="#">Flights</a></li>
                        <li><a href="#">Hotels</a></li>
                    </ul>
                </div>
                <div class="ft-box">
                    <div class="text-btm">Partners</div>
                    <ul>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Work with us</a></li>
                        <li><a href="#">Advertise with us</a></li>
                        <li><a href="#">Travel Insight</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Travel APIs</a></li>
                    </ul>
                </div>
                <div class="ft-box">
                    <h2 class="text-btm">Company</h2>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Why Skyscanner?</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Our people</a></li>
                        <li><a href="#">Sustainability</a></li>
                        <li><a href="#">Brand story</a></li>
                        <li><a href="#">Company Details</a></li>
                        <li><a href="#">Jobs</a></li>
                    </ul>
                </div>
                <div class="ft-box">
                    <h2 class="text-btm">Help</h2>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy settings</a></li>
                        <li><a href="#">Security</a></li>
                    </ul>
                </div>
                <div class="ft-box">
                    <h2 class="text-btm">Subscribe Newsletter</h2>
                    <p>Subscribe A Newsletter</p>
                    <div class="ft-form" fxLayout="column">
                            <input name="" type="text" class="submit-input">
                            <button mat-raised-button class="submit-btn">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ft-bottom">
            <div class="ft-bottom-content" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="ft-left">
                    <p>&copy; Kosher scanner Ltd  2020</p>
                </div>
                <div class="ft-right">
                    <ul fxLayout="row">
                        <li><a href="#"><img src="assets/images/home-page/ft-social1.png" alt=""></a></li>
                        <li><a href="#"><img src="assets/images/home-page/ft-social2.png" alt=""></a></li>
                        <li><a href="#"><img src="assets/images/home-page/ft-social3.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>